*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "averta cy w10";
}
.cursor{
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    z-index: 9999;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50, -50px);
    transition: transform 0.01s ease-in;
}
html, body{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
#main::-webkit-scrollbar {
    display: none;
}

#main{
   overflow-x:hidden; 
}

/* -------------------Navigation -------------------*/

#nav{
   display: flex;
   justify-content: space-between;
   padding: 10px 100px;
   z-index: 9999;
   width: 100vw;
}

.nav-logo{
    width: 10%;
    
}

#navright{
    display: flex;
    flex-direction: row;
    position:absolute;
    left: 85vw;
    align-items: first baseline;
    background: white;
    border-radius: 25px ;
    padding: 10px;
    z-index: 9999;
}
#navright h3{
margin-right: 10px;
}
/* -------------------Navigation -------------------*/


#home{
    position:relative;
    height: 100vh;
    width: 100vw;
}

#page1{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 70%;
    left: 60%;
    transform: translate(-50%,-50%);
    transform: translate(-50%, -50%);
}
#page1 h1{
    font-size: 7vw;
    font-weight: 300;
}
#page1 h2{
    font-size: 7vw;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 20px;
}

#page1 h2 span{
      display: inline-block;
      height: 100px;
      width: 220px;
      /* background-color: red; */
      border-radius: 100px;

}
#page1 h2 span video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
}
#bottom {
    position:absolute;
    right: 4%;
    bottom: 7%;
     z-index: 9999;  
}
.home-bottom-video{
    width: 90px;
    background-color: aliceblue;
    border-radius: 50%;
}
#page2{
    position: absolute;
    overflow: hidden;
    top: 100%;
    height: 100vh;
    width: 100vw;
    /* background-color: red; */
}

#page2 #vtag video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    display: flex;
    position: absolute;
    top: 220%;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    /* background-color: red; */
}

#left3 video{
    height: 100%;
    width: 100%;
    padding: 5vw;

}
#right3{ 
    position: relative; 
    height: 100%;
    width: 50%;
    right: 10%;
    /* background-color: green; */
}
#right3 h3{
    font-size: 2.3vw;
    color: #000;
    font-weight: 400;
    width: 95%;
    text-align: start;
    padding-top: 20%;
    padding-left: 25%;
}
#right3 button{
    position: absolute;
    left: 30%;
    top: 50%;
    height: 200px;
    width: 390px;
    border-radius: 100px;
    text-align: center;
    font-size: 1.6vw;
    font-weight: 500;
}

/*----------------------page4--------------------*/

#page4{
    width: 100%;
    min-height: 550vh;
    position: relative;
    top: 350%;
    color: #fff;
    background:#161616;
    border-radius: 70px 70px 0 0;
}
#container {
    position: absolute;
    left: 15%;
    top: 2%;
    color: #fff;
}
#container h1{
    font-size: 10rem;
    font-weight: 500;
}
#container h2{
    font-size: 10rem;
    font-weight: 100;
}

.video-con{
    display: inline-block;
    height: 100px;
    width: 220px;  
}
.featured-video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
}

#boxin{
    position: absolute;
    top: 13%;
    left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: #fff;
}
#pair1 div video{
 width: 70%;
 border-radius: 50px;
 margin-bottom: 40px;
 margin-top: 80px;
}
#pair2{
    margin-top: 15%;
}
#pair2 div video{
    width: 70%;
    margin-left: -10%;
    border-radius: 50px;
    margin-bottom: 40px;
    margin-top: 80px;
}


/*-------------------page5-------------------*/

#page5{
    flex-direction: column;
    position: absolute;
    top: 900%;
    height: 100vh;
    width: 100vw;
    background-color: #161616;
   
}
.bg-black{
    background: white;
    border-radius: 100px;
}
#text5{
    flex-direction: column;
    padding-left: 12%;
    padding-top: 5%;
    line-height: -1;
}
#text5 h1{
    font-size: 11vw;
    font-weight: 500;
}
#text5 h2{
    font-size: 11vw;
    font-weight: 100;
}
#half{
    display: flex;
}
#page5 #left5{
    width: 50%;
}
#left5 video{
    height: 600px;
    width: 600px;
    padding-left: 15%;
}
#half #right5{
    height: 10%;
    width: 50%;
    column-gap: 10px;
}
#right5 p{
    width: 73%;
    font-size: 1.8vw;
    padding-top: 25%;
}
#right5 h5{
    margin-top: -15%;
    width: 73%;
    font-size: 1.8vw;
    padding-top: 25%;
    font-weight: 400;
}
#page6{
    position: relative;
    top: 550%;
    min-height: 200vh;
    width: 100vw;   
    border-radius: 100px 100px 0 0;
    background-color: #161616;
}
#page6 #visit{
    height: 100%;
    width: 100%; 
    margin-bottom: 5%;
}
#visit h1{
    font-size: 7vw;
    color: #fff;
    padding-left: 15%;
    padding-top: 10%;
    font-weight: 200;
}

#imgdiv div img{
 width: 96%;
 border-radius: 25px;
 margin: 25px 230px;
 position: relative;
}
#imgdiv div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    font-size: 20px;
}
#imgdiv{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-left: 5%;
    overflow-x: scroll;
    color: #fff;
    margin-bottom: 5%;
}
#imgdiv::-webkit-scrollbar {
    display: none;
}
#pbottom{
    color: #fff;
    width: 30%;
    left: 50%;
    font-size: 20px;
    position: relative;
}
#pbottom button{
    margin: 50px 0;
    background: #000;
    color: #fff;
    border: white 1px solid ;
    border-radius: 25px;
    padding: 3%;
}


/*----------------------page 7------------------*/

#page7{
    position: relative;
    top: 600%;
    min-height: 100vh;
    width: 100vw;
    border-radius: 100px;
    background-color: #fff;
}
.box{
    position: absolute;
    top: -45%;
    left: 10%;
    right: 10%;
    display: flex;
    align-items: center;
    animation: box 10s linear infinite;

}
.box h1{
    font-size: 12vw;
    font-weight: 300;
    white-space: nowrap;
   
}
.box span{
    display: inline-block;
    border-radius: 50%;
}
.box span video{
    object-fit: cover;
    border-radius: 50%;
    }
    @keyframes box{
        0%{
            transform: translate(0,0);
        }
        100%{
            transform: translate(-100%,0);
        }
    }

    .p7-container{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        justify-content: center;
        align-items: end;
        padding: 0 105%;
    }

.p7-container img{
width: auto;
height: 300px;
border-radius: 25px;
margin: 0 10px;
}
.p7-container::-webkit-scrollbar {
    display: none;
}